@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  z-index: 2;
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  // background-image: linear-gradient(
  //   var(--rotate),
  //   #5ddcff, #3c67e3 43%, #4e00c2);
  background-image: linear-gradient(
    var(--rotate),
    #0d5569, #0a2b8c 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 0%;
  animation: spin 10s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: 16%;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.9);
  filter: blur(100px);
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 5.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

